[submodule "hugo-clarity"]
	path = hugo-clarity
	url = https://github.com/chipzoller/hugo-clarity
[submodule "themes/hugo-clarity"]
	path = themes/hugo-clarity
	url = https://github.com/chipzoller/hugo-clarity
